* {
    box-sizing: border-box;
    }
body {
    margin: 0;
    padding: 0;
    background-color: rgb(162, 239, 245);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
.logo { 
    justify-content: center;
    flex-basis: 10%;
}
img {
    flex-basis: 30%;
    padding: 15px;
}
video {
    flex-basis: 30%;
    padding: 10px;
}
.principal {
    text-align: center;
}
body .Comprar {
    background-color: darkblue;
    color: beige;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    justify-content: flex-end;
}
footer {
    flex-basis: 10%;
    text-align: center;
    background-color: rgb(0, 62, 73);
    color: azure;
    text-decoration: none;
}
@media (max-width:900px){
    body {
        flex-direction: column;
        justify-content: center;
    }
}